<div class="user-edit cmn-form">
  <div class="inner">
    <h1 class="ttl">ユーザー編集</h1>
    <%= form_for(@user) do |f| %>
    <div class="user-edit-img">
      <% if @user.image? %>
      <%= image_tag @user.image.url(:thumb) %>
      <% else %>
      <%= image_tag "no_image", :size => '100x100' %>
      <% end %>
    </div>
    <button type="button" class="btn">
      <%= f.file_field :image %>
    </button>
    <div class="form-item">
      <%= f.text_field :name, :placeholder => "name" %>
    </div>
    <%= f.submit '変更', class: "btnl" %>
  </div>
</div>
<% end %>