<div class="user">
  <div class="inner">
    <h1 class="ttl">マイページ/お気に入り商品一覧</h1>
    <p class="user-name txtl">
      <%= @user.name %>
    </p>
    <div class="user-img">
      <% if @user.image? %>
      <%= image_tag @user.image.url(:thumb) %>
      <% else %>
      <%= image_tag "no_image", :size => '200x200' %>
      <% end %>
    </div>
    <%= link_to "ユーザー編集", edit_user_path(current_user), class: "btn" %>
    <%= render 'items/items', items: @items %>
    <%= paginate @items %>
  </div>
</div>