<div class="fav">
  <div class="inner">
    <h1 class="ttl">お気に入りアイテム</h1>
    <div class="fav-item">
      <p class="fav-item-name">
        <%= link_to @item.name, @item.url %>
      </p>
      <div class="fav-item-img">
        <img src="<%= @item.image_url %>">
      </div>
      <% unless @detail %>
      <%= link_to "5w1h新規作成", new_detail_path(@favorite), class: "btn"  %>
      <% else %>
      <%= render 'details/detail', detail: @detail %>
      <div class="btns">
        <%= link_to "5w1h編集", edit_detail_path(@detail),  class: "btn" %>
        <%= link_to "5w1h削除", detail_path(@detail),  method: :delete,  class: "btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>