<div class="detail">
  <div class="inner">
    <% unless detail.name.empty? %>
    <div class="detail-item">
      <p class="detail-item-tag">What</p>
      <div class="detail-item-contents txtm">
        <%= detail.name %>
      </div>
    </div>
    <% end %>
    <% unless detail.purchase_date.empty? %>
    <div class="detail-item">
      <p class="detail-item-tag">When</p>
      <div class="detail-item-contents txtm">
        <%= detail.purchase_date %>
      </div>
    </div>
    <% end %>
    <% unless detail.place.empty? %>
    <div class="detail-item">
      <p class="detail-item-tag">Where</p>
      <div class="detail-item-contents txtm">
        <%= detail.place %>
      </div>
    </div>
    <% end %>
    <% unless detail.person.empty? %>
    <div class="detail-item">
      <p class="detail-item-tag">Who</p>
      <div class="detail-item-contents txtm">
        <%= detail.person %>
      </div>
    </div>
    <% end %>
    <% unless detail.reason.empty? %>
    <div class="detail-item">
      <p class="detail-item-tag">Why</p>
      <div class="detail-item-contents txtm">
        <%= detail.reason %>
      </div>
    </div>
    <% end %>
    <% unless detail.way.empty? %>
    <div class="detail-item">
      <p class="detail-item-tag">How</p>
      <div class="detail-item-contents txtm">
        <%= detail.way %>
      </div>
    </div>
    <% end %>
  </div>
</div>






