<div class="detail-edit cmn-form">
  <div class="inner">
    <h1 class="ttl">5w1hの編集</h1>
    <%= form_for(@detail) do |f| %>
    <div class="form-item">
      <%= f.label :name, 'What', class: "txtm" %>
      <%= f.text_field :name,  :placeholder => "name" %>
    </div>
    <div class="form-item input-group" data-target-input="nearest">
      <%= f.label :purchase_date, 'When', class: "txtm" %>
      <%= f.text_field :purchase_date, id: "purchase_date", class: "form-control datepicker", data: { target: '#purchase_date'} ,:placeholder => "purchase_date" %>
      <div class="input-group-append" data-target="#purchase_date" data-toggle="datetimepicker">
        <div class="input-group-text">
          <i class="fa fa-calendar">カレンダー</i>
        </div>
      </div>
    </div>
    <div class="form-item">
      <%= f.label :place, 'Where', class: "txtm" %>
      <%= f.text_field :place, :placeholder => "place" %>
    </div>
    <div class="form-item">
      <%= f.label :person, 'Who', class: "txtm" %>
      <%= f.text_field :person, :placeholder => "person" %>
    </div>
    <div class="form-item">
      <%= f.label :reason, 'Why', class: "txtm" %>
      <%= f.text_area :reason, :placeholder => "reason" %>
    </div>
    <div class="form-item">
      <%= f.label :way, 'How', class: "txtm" %>
      <%= f.text_field :way, :placeholder => "way" %>
    </div>
    <%= f.submit '完了', class: "btnl" %>
    <% end %>
  </div>
</div>