<div class="deetail-edit">
  <div class="inner">
    <h1 class="form-sub-ttl">5w1hの編集</h1>
    
    <div class="form">
    <%= form_for(@detail) do |f| %>
    
      <div class="form-item">
        <%= f.label :name, 'What', class: "txtm" %>
        <%= f.text_field :name,  :placeholder => "name" %>
      </div>
     
      <div class="form-item">
        <%= f.label :purchase_date, 'When', class: "txtm" %>
        <%= f.text_field :purchase_date,  :placeholder => "purchase_date" %>
      </div>
      
      <div class="form-item">
        <%= f.label :place, 'Where', class: "txtm" %>
        <%= f.text_field :place, :placeholder => "place" %>
      </div>
      
      <div class="form-item">
        <%= f.label :person, 'Who', class: "txtm" %>
        <%= f.text_field :person, :placeholder => "person" %>
      </div>
      
      <div class="form-item">
        <%= f.label :reason, 'Why', class: "txtm" %>
        <%= f.text_area :reason, :placeholder => "reason" %>
      </div>
      
      <div class="form-item">
        <%= f.label :way, 'How', class: "txtm" %>
        <%= f.text_area :way, :placeholder => "way" %>
      </div>
      
      
      <div class="form-btn">
        <%= f.submit '完了',class: "btn-5w" %>
      </div>
      
    <% end %>
    </div> 
  </div>
</div>